# =========================
# Environment / Secrets
# =========================
.env
.env.*
apps/api/.env
apps/api/.env.*
apps/worker/.env
apps/worker/.env.*

# =========================
# Node / Build outputs
# =========================
node_modules/
dist/
coverage/
*.tsbuildinfo

# Next.js / React build (ileride web gelince)
.next/
out/

# =========================
# pnpm
# =========================
.pnpm-store/
pnpm-debug.log*

# =========================
# Logs
# =========================
*.log

# =========================
# Prisma generated/cache
# =========================
**/node_modules/.prisma/


# (Prisma studio / temp)
prisma/.cache/

# =========================
# OS / IDE
# =========================
.vscode/
.DS_Store
Thumbs.db